.header {
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.header h1 {
  padding: 20px;
}
.content {
  padding: 5%;
}
.cardContainer {
  width: 900px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  /* grid-auto-rows: 250px; */
}

.cardInfo {
}
